<li>
  {{#link-to 'announcement' announcement.id}} {{announcement.title}}{{/link-to}}
</li>
<!-- {{update-announcement announcement=announcement update="update"}} -->
<!-- <button {{action 'deleteAnnouncement' announcement}}>Delete</button> -->
