<h2>{{model.title}}:</h2>
<p>{{model.body}}</p>
{{update-announcement announcement=model updateAnnouncement="updateAnnouncement"}}
{{announcement-detail announcement=model destroyAnnouncement="destroyAnnouncement"}}
