<div class="container">
  <header class = "jumbotron">
    <h1>Super Rentals</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <ul>
    <li>{{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}</li>
    <li>{{#link-to 'about'}}About Us.{{/link-to}}</li>
    <li>{{#link-to 'index'}}Click here to return home.{{/link-to}}</li>
  </ul>
  </footer>
</div>
