<h1>Welcome to Super Rentals</h1>

<p> We hope you find exactly what you're looking for in a place to stay. </p>

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}

<h1>Announcements:</h1>
<ul>
  {{#each model.announcements as |announcement|}}
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement announcementSave2="announcementSave3"}}

{{#link-to 'about'}}About us {{/link-to}}
{{#link-to 'contact'}}Contact us {{/link-to}}
{{#link-to 'announcements'}}announcements {{/link-to}}
